*{
    box-sizing: border-box;
}

.user{
    display: flex;
    flex-wrap: wrap;
}

.user-card__container{
    margin: 24px;
    /* width: 16rem; */
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #737373;
}

.user-card__container:hover{
    cursor: pointer;
}

.user-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}